<div >
  <ul class="globalNav">
    <li><%= link_to 'トップページ	', '/toppage/index' %></li>
    <li><%= link_to 'ロック一覧	', '/locks/show' %></li>
    <li><a href="http://www.kke.co.jp">KKE</a></li>
    <li>メモ@"templete/_menu" imported by "layout/application.erb.heml"</li>
  </ul>
</div>


