<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<table class="event">
<thead>
	<tr>
		<th width="60px">datetime</th>
		<th width="60px">device</th>
		<th width="60px">user</th>
		<th width="60px">type</th>
		<th width="60px">method</th>
		<th width="60px">PIN</th>
	</tr>
</thead>
